* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background: rgb(246, 205, 118);
}

.container {
    margin: 0 auto;
    width: 800px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    display: flex;
    border-radius: 5px;
}

.wallets {
    width: 35%;
    height: 100%;
    background: rgb(241, 241, 241);
    overflow-y: scroll;
    overflow: hidden;
    padding-right: 6px;
}

.wallets h2 , .balance{
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    opacity: 0.9;
}


.card {
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(150, 138, 138, 0.39);
    width: 200px;
    height: 130px;
    padding: 15px;
    padding-top: 20px;

}

.card p {
    opacity: 0.7;
}
.card1 .card-number{
    margin-top: 20px;
    margin-bottom: 10px;
}
.card2 .card-number{
    margin-top: 10px;
    margin-bottom: 5px;
}
.card3 .card-number{
    margin-top: 10px;
    margin-bottom: 5px;
}
.card:active{
    border: 1px solid Blue;
}
.valid{
    font-size: 15px;
}

.cards {
    width: 100%;
    height: 140%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

::-webkit-scrollbar {
    width: 6px;
    position: relative;

}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.741);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgba(0, 0, 0, 0.863);
}
.wallets:hover {
    padding-right: 0;
    overflow: auto;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.plus {
    width: 20px;
}

.up {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.maestro,
.mastercard {
    height: 40px;
}

.visa {
    width: 70px;
}
/* BALANCE */
.history{
    width: 65%;
    overflow-y: hidden;
    padding-right: 6px;
}
.history:hover{
    overflow-y: scroll;
    padding-right: 0;
}
.wrap{
    width: 80%;
    margin: 0 auto;

}
.upper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.money{
    font-size: 27px;
    font-weight: 600;
    display: flex;
    opacity: 0.8;
}
.money span{
    font-size: 20px;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.2;
    margin-top:15px; 
}
.bill{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.bill img{
    width: 25px;
    margin-right: -20px;
    opacity: 0.6;
}
.what{
    line-height: 24px;
    width: 270px;
}
.what h3{
    opacity: 0.9;
}
.what p{
    opacity: 0.6;
    font-size: 15px;
}
.count{
    font-size: 20px;
    font-weight: 600;
    color: rgb(57, 9, 121);
    opacity: 0.6;
    display: flex;
}
.count span{
    font-size: 15px;
}
.add{
    color: green;
}
